<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sekiro_Save_Organizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Sekiro_Save_Organizer.Properties.Settings>
            <setting name="savefilepath" serializeAs="String">
                <value />
            </setting>
            <setting name="profilepath" serializeAs="String">
                <value />
            </setting>
            <setting name="edit" serializeAs="String">
                <value>F1</value>
            </setting>
            <setting name="import" serializeAs="String">
                <value>F2</value>
            </setting>
            <setting name="load" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="replace" serializeAs="String">
                <value>F4</value>
            </setting>
            <setting name="remove" serializeAs="String">
                <value>F5</value>
            </setting>
        </Sekiro_Save_Organizer.Properties.Settings>
    </userSettings>
</configuration>